@use "variables.scss" as variables;

.changePassword-wrapper {
   grid-column-start: 2;
   grid-column-end: 3;
   display: flex;
   gap: 1rem;
   flex-direction: column;
   min-width: 20rem;
   & > div {
      display: flex;
      gap: inherit;
      flex-direction: column;
      flex-grow: 1;
   }
   .save {
      align-self: flex-end;
   }
}
