@use "variables.scss" as variables;

.photo_grid {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-auto-rows: 270px;
   background-color: variables.$white;
   padding: 1.5rem;
   gap: 1.5rem;

   .photo_grid_item {
      & > div {
         width: 100%;
      }
      img {
         object-fit: cover;
         height: 270px;
      }
   }
}
