@use "variables.scss" as variables;

.create_account_page_wrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;

   .card_wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;

      .error_message {
         font-size: 0.7em;
         color: variables.$red-200;
      }
   }
}
