@use "variables.scss" as variables;

$cell-height: 48px;

.day_column_wrapper {
   width: calc(100% / 7);
   position: relative;
   padding: 0 0.5rem;

   .header {
      position: sticky;
      top: 0;
      background-color: variables.$white;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 3rem;
      z-index: 1;

      p {
         padding: 3px 5px;
         border-radius: 5px;
      }

      &.today {
         p {
            background-color: variables.$gray-300;
            color: variables.$white;
         }
      }

      &.before {
         p {
            color: variables.$gray-100;
         }
      }
   }

   .content {
      display: flex;
      flex-direction: column;
      position: relative;

      .grid {
         .half_hour {
            height: calc($cell-height / 2);
         }
      }

      .avalability_wrapper,
      .reservations_wrapper {
         position: absolute;
         height: 100%;
         width: 35%;
      }

      .avalability_wrapper {
         left: 10%;
      }

      .reservations_wrapper {
         right: 10%;

         .reservation {
            background-color: variables.$purple-100;
            height: 90px;
            top: 60px;
         }
      }
   }

   &::before {
      content: "";
      display: block;
      width: 1px;
      height: 100%;
      background-color: variables.$blue-gray-100;
      position: absolute;
      left: 50%;
   }
}
