@import "variables.scss";

.dropdown-wrapper {
   p.label {
      margin-bottom: 5px;
      color: $gray-300;
   }
   select {
      font-family: "Open Sans", sans-serif;
      color: $gray-300;
      height: 25px;
      border-radius: 50px;
      border: $gray-100 2px solid;
      font-weight: bold;
      font-size: 14px;
      padding-left: 4px;
      // display: flex;
      // align-items: center;
   }
}
