@use "variables.scss" as variables;

.dropdown-wrapper {
   p.label {
      margin-bottom: 5px;
      color: variables.$gray-300;
   }
   select {
      font-family: "Open Sans", sans-serif;
      color: variables.$gray-300;
      height: 25px;
      border-radius: 50px;
      border: variables.$gray-100 2px solid;
      font-weight: bold;
      font-size: 14px;
      padding-left: 4px;
   }
}
