@use "variables.scss" as variables;

.photographer_profile_wrapper {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 15px;

   .data_wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      position: relative;
      padding: 20px;

      .photographer_photo {
         height: 360px;
         width: 320px;
         object-fit: cover;
         border-radius: 10px;
         top: 20px;
         left: 20px;
         box-shadow: variables.$shadow-elevated;
         align-self: center;
      }

      .label_wrapper {
         padding: 20px 20px 5px 20px;
         display: flex;
         flex-direction: column;
         width: 100%;
         align-items: flex-start;
         row-gap: 10px;
      }

      .text_wrapper {
         background-color: variables.$blue-gray-100;
         border-radius: 4px;
         display: flex;
         justify-content: center;
         align-items: center;
         font-weight: bold;
         padding: 7px 10px;
         font-size: 14px;
      }
   }
}
