@use "variables.scss" as variables;

.stop-being-photographer-wrapper {
   .buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .red-button {
         background-color: variables.$red-200;
      }

      .button-wrapper {
         margin-top: 20px;
      }
   }
}
