@use "variables.scss" as variables;

.jobs_list_page_wrapper {
   display: flex;
   gap: 20px;
   height: 85vh;

   .calendar_wrapper {
      height: 100%;
      flex-grow: 1;
   }

   .list_wrapper {
      display: flex;
      height: 100%;
      min-width: 350px;
      flex-direction: column;
      gap: 10px;

      .filters {
         display: flex;
         flex-direction: column;
         gap: 10px;

         & > div {
            display: flex;
            align-items: center;
            justify-content: space-between;

            & > p {
               color: variables.$gray-300;
            }

            & > form {
               display: flex;
               gap: 10px;

               .text_input {
                  flex-grow: 1;
               }
            }
         }

         .filter_card {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            gap: 15px;
         }
      }

      .content {
         display: flex;
         flex-shrink: 1;
         overflow-x: auto;
         padding: 10px;

         .scroll_wrapper {
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 100%;
            overflow-x: auto;
            flex-shrink: 1;
            padding: 10px;

            &::-webkit-scrollbar {
               width: 6px;
               height: 6px;
            }
         }
      }
   }
}
