@use "variables.scss" as variables;

.base_info {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 1rem;
   grid-column-start: 1;
   grid-column-end: 4;

   .error_message {
      font-size: 0.7em;
      color: variables.$red-200;
   }
}
