@use "variables.scss" as variables;

.toast_handler_wrapper {
   position: fixed;
   bottom: 20px;
   right: 430px;
   display: flex;
   flex-direction: column-reverse;
   row-gap: 20px;
   z-index: 1;
}
