@use "variables.scss" as variables;

.confirm_registration_page_wrapper {
   display: flex;
   justify-content: center;
   align-items: flex-start;

   .card_wrapper {
      padding: 3rem 5rem;
      display: flex;

      flex-direction: column;
      align-items: flex-start;
      gap: 1.5rem;
   }
}
