@use "variables.scss" as variables;

.data_wrapper {
   display: flex;
   width: 100%;
   flex-direction: column;
   align-items: flex-start;
   gap: 15px;

   .specialization_wrapper {
      padding-bottom: 20px;
      display: flex;
      flex-direction: row;
      width: 100%;
      align-items: flex-start;
      column-gap: 50px;

      .specialization_column {
         ul {
            list-style-type: none;

            li {
               margin-top: 10px;
               display: flex;
               flex-grow: 1;
            }
         }
      }
      .description_column {
         display: flex;
         justify-content: space-between;
         flex-grow: 1;
         gap: 1rem;
      }
   }

   .text_wrapper {
      border-radius: 4px;
      display: flex;
      align-items: center;
      font-weight: bold;
      padding: 7px 10px 7px 10px;
      font-size: 14px;
      white-space: nowrap;
      width: 100%;

      svg {
         font-size: 1.1rem;
      }

      p {
         padding-top: 2px;
      }
   }
}
