@use "variables.scss" as variables;

.avalability {
   position: absolute;
   width: 100%;
   border-radius: 5px;
   background-color: #68d243;
   transition: box-shadow 200ms ease-in-out;

   &:hover {
      box-shadow: 0 0 0.5rem #68d243;
   }
}
