@use "variables.scss" as variables;
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Roboto:wght@400;500;700&display=swap");

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: "Roboto", sans-serif;
   scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
   color: variables.$gray-200;
}

a {
   text-decoration: none;
}

html {
   scroll-behavior: smooth;
}

body {
   background-color: variables.$blue-gray-100;
   height: 100vh;
}

#root {
   display: grid;
   grid-template-columns: 80px auto 380px;
   grid-template-rows: auto;
   grid-template-areas: ". main sidebar";
   height: 100%;
   width: 100%;
}

// Typography
html {
   .section-title {
      font-size: calc(variables.$scale-1 * 1rem);
      font-weight: bold;
      letter-spacing: 1%;
      font-family: "Open Sans", sans-serif;
      text-transform: capitalize;
      color: variables.$gray-300;
   }

   .category-title {
      font-size: calc(variables.$scale-2 * 1rem);
      font-weight: bold;
      letter-spacing: 2.5%;
      font-family: "Open Sans", sans-serif;
   }

   h3 {
      font-size: calc(variables.$scale-3 * 1rem);
      font-family: "Open Sans", sans-serif;
   }

   h2 {
      font-size: calc(variables.$scale-4 * 1rem);
      font-family: "Open Sans", sans-serif;
   }

   h1 {
      font-size: calc(variables.$scale-5 * 1rem);
      font-family: "Open Sans", sans-serif;
   }

   .label {
      font-size: 1rem;
      font-weight: 600;
      font-family: "Open Sans", sans-serif;
   }

   .label-bold {
      font-size: 1rem;
      font-weight: 700;
      font-family: "Open Sans", sans-serif;
   }
}

// Misc
.material-icons {
   user-select: none; /* Standard */
   -webkit-user-select: none; /* Safari */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* IE10+/Edge */
   color: variables.$gray-200;
}

// Scrollbar

::-webkit-scrollbar {
   width: 10px;
   height: 10px;
}

::-webkit-scrollbar-track {
   border-radius: 5px;
   background-color: variables.$blue-gray-100;
}

/* Handle */
::-webkit-scrollbar-thumb {
   background: variables.$gray-150;
   border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
   background: variables.$gray-150;
}

// RWD
html {
   @include variables.sm {
      font-size: 12px;
   }

   @include variables.md {
      font-size: 16px;
   }
}
