@use "variables.scss" as variables;

section.dashboard-page-wrapper {
   margin: 2rem auto;
   width: 50rem;

   .card-wrapper {
      padding: calc(variables.$scale-1 * 1rem);
      display: flex;
      flex-direction: column;

      .header {
         display: flex;
         justify-content: space-between;

         .button-wrapper {
            width: 9rem;
            height: 3rem;
         }
      }

      .roles {
         margin-top: 2rem;

         .roles-title {
            font-size: 1.5rem;
            font-weight: bold;
            margin-bottom: 0.5rem;
         }

         .roles-list {
            margin-left: 1.3rem;
         }
      }
   }
}
