@use "variables.scss" as variables;

.reservation_wrapper {
   position: absolute;
   width: 35%;
   right: 10%;

   &.full_width {
      width: 80%;
   }

   .reservation {
      width: 100%;
      border-radius: 5px;
      background-color: variables.$purple-100;
      transition: box-shadow 200ms ease-in-out;
      cursor: pointer;

      &:hover {
         box-shadow: 0 0 0.5rem variables.$purple-100;
      }
   }

   .reservation_info_wrapper {
      p {
         color: variables.$white;
      }

      div {
         display: flex;
         flex-direction: column;
         flex-grow: 1;
         flex-shrink: 0;
         width: fit-content;
      }

      .actions {
         padding-top: 8px;
         display: flex;
         width: 100%;
         align-items: flex-end;
      }
   }
}
