@use "variables.scss" as variables;

.review_report_modal_wrapper {
   .title {
      display: flex;
      align-items: center;
      gap: 0.5rem;
   }

   section {
      color: variables.$gray-200;

      .main {
         display: flex;
         gap: 1.2rem;

         .info {
            display: flex;
            flex-direction: column;
            gap: 0.7rem;
            min-width: 15vw;

            .buttons {
               // margin-top: 1rem;
               display: flex;
               gap: 1rem;
            }
         }
         .content {
            display: flex;
            flex-direction: column;
            gap: 0.7rem;
            min-width: 35vw;

            p {
               max-width: 30rem;
               min-width: 20rem;
            }
         }
      }

      .button {
         margin-left: auto;
         background-color: variables.$blue-300;
         overflow: hidden;

         button:disabled {
            cursor: not-allowed;
            background-color: variables.$gray-200;
         }
      }
   }
}
