@use "variables.scss" as variables;

.base_info_wrapper {
   display: flex;
   flex-direction: column;
   gap: 1rem;
   min-width: 35rem;
   grid-row-start: 1;
   grid-row-end: 4;

   .content {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      .error_message {
         font-size: 0.7em;
         color: variables.$red-200;
      }

      .email {
         display: flex;
         gap: 1rem;
         & > div {
            flex: 1;
         }
      }

      .active_registered {
         display: flex;
         gap: 2rem;
         justify-content: flex-start;
      }
   }
   .save {
      .btn {
         margin-left: auto;
      }
      margin-left: auto;
   }
}
