@import "variables.scss";

section.register-page-wrapper {
   display: flex;
   flex-grow: 1;
   align-items: center;
   justify-content: flex-end;

   div.form-wrapper {
      display: flex;
      align-items: flex-start;
      gap: 15px;

      div.validation-box-wrapper {
         width: 500px;
      }

      div.register-form {
         display: flex;
         flex-direction: column;
         flex-grow: 1;
         gap: 1.5rem;
         overflow: hidden;

         form {
            padding-top: 45px;
            padding-bottom: 25px;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            div.inputs-wrapper {
               display: flex;
               gap: 1rem;

               div.column {
                  display: flex;
                  flex-grow: 1;
                  flex-direction: column;
                  gap: 1.5rem;

                  div.text-input-wrapper {
                     width: 350px;
                  }
               }
            }

            div.checkboxes-wrapper {
               display: flex;
               flex-direction: column;
               gap: 10px;
               padding: 30px 0;
            }

            div.footer {
               display: flex;
               align-items: center;
               justify-content: flex-end;
               gap: 2rem;
               padding: 1rem 0;

               a {
                  color: $blue-400;
                  font-weight: bold;
               }
            }
         }
      }
   }
}
