@use "variables.scss" as variables;

.access_levels {
   display: flex;
   flex-direction: column;
   gap: 0.3rem;
   justify-content: space-around;
   grid-column-start: 1;
   grid-column-end: 2;

   .access_levels {
      display: flex;
      flex-direction: column;
      font-size: 0.9em;
      justify-content: center;
   }
   .buttons {
      display: flex;
      flex-direction: column;
      gap: 0.6rem;
   }
   & > div {
      display: flex;
      gap: 1rem;
   }
}
