:root {
   counter-reset: masonry;
}

.photographer_gallery_page_wrapper {
   .title {
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 30px;
   }

   .photo_masonry {
      column-count: 2;
      column-gap: 2rem;
   }

   .photo_masonry_item {
      margin-bottom: 2rem;
   }
}
