@use "variables.scss" as variables;

.photographer_reviews_card_wrapper {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 15px;

   .data_wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      padding: 20px;

      .reviews_wrapper {
         padding-bottom: 20px;
         display: flex;
         flex-direction: column;
         width: 100%;
         align-items: flex-start;
         column-gap: 50px;

         .top_wrapper {
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 30px;

            .top_buttons_wrapper {
               display: flex;
               flex-direction: row;
               gap: 10px;

               .add_review_button {
                  button {
                     padding: 19px;
                  }
               }
            }
         }
      }

      button {
         p,
         span {
            color: variables.$gray-200;
         }
         background-color: variables.$blue-gray-100;
      }
   }
}
