@use "variables.scss" as variables;

.reviews_wrapper {
   padding: 20px;
   display: flex;
   flex-direction: column;
   width: 100%;
   align-items: flex-start;
   gap: 15px;

   .loader_wrapper {
      display: flex;
      align-self: stretch;
      align-items: center;
      justify-content: center;
   }

   .header {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 30px;

      p,
      svg,
      span {
         color: variables.$gray-300;
      }

      p {
         font-weight: bold;
      }

      svg {
         font-size: 1.5rem;
      }

      .top_buttons_wrapper {
         display: flex;
         flex-direction: row;
         gap: 10px;

         button {
            background-color: variables.$blue-gray-100;
         }

         .add_review_button {
            background: none;

            button {
               padding: 6px 8px;
               height: 100%;
               border-radius: 7px;
               display: flex;
               flex-direction: row;
               justify-content: center;
               align-items: center;
               text-transform: capitalize;
            }
         }

         .disabled {
            button {
               background-color: variables.$blue-gray-100;

               svg {
                  color: variables.$gray-100;
               }
            }
         }

         .navigation {
            height: 100%;
         }
      }
   }
}
