@use "variables.scss" as variables;

.sidebar_wrapper {
   grid-area: sidebar;
   padding: 10px;

   background-color: variables.$white;
   box-shadow: 0px 4px 10px 0px #00000026;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
}
