@use "variables.scss" as variables;

.access_levels {
   display: flex;
   flex-direction: column;
   gap: 1rem;
   grid-column-start: 3;
   grid-column-end: 4;
   // min-width: 20rem;
   // box-shadow: variables.$shadow-inner;
   // padding: 1rem;
   // border-radius: 10px;
   // justify-content: space-between;

   .content {
      display: flex;
      flex-direction: column;
      gap: 1.3rem;
      padding-bottom: 0.3rem;
   }
}
