@import "../../../variables.scss";

div.text-input-wrapper {
   display: flex;
   border-radius: $border-radius;
   overflow: hidden;
   border-bottom: $shadow-bottom;
   height: 43px;

   span,
   input {
      padding: 0.5rem;
      font-size: $scale-1;
   }

   span {
      background-color: $blue-gray-200;
   }

   input {
      background-color: $blue-gray-100;
      border: none;
      outline: none;
      padding-left: 1rem;
      font-weight: bold;
      color: $gray-300;
      flex-grow: 1;
   }
}
