@use "variables.scss" as variables;

.checkbox_wrapper {
   display: flex;
   align-items: center;
   gap: 5px;
   color: variables.$gray-200;

   input[type="checkbox"] {
      appearance: none;
      border: variables.$gray-200 2px solid;
      border-radius: 5px;
      padding: 0.5rem;

      &:not(:disabled) {
         cursor: pointer;
      }

      &:checked {
         background-image: url("../../../assets/images/tick.svg");
         background-size: cover;
         background-repeat: no-repeat;
      }
      &:disabled {
         opacity: 0.35;
      }
   }

   .required {
      &::after {
         content: "*";
         color: variables.$red-200;
         margin-left: 2px;
      }
   }
}
