@import "variables.scss";

div.checkbox-wrapper {
   display: flex;
   align-items: center;
   gap: 5px;

   input[type="checkbox"] {
      appearance: none;
      border: $gray-200 2px solid;
      border-radius: 5px;
      padding: 0.5rem;

      &:checked {
         background-image: url("../../../images/tick.svg");
         background-size: cover;
         background-repeat: no-repeat;
      }
   }
}
