@use "variables.scss" as variables;

.text_wrapper {
   border-radius: 4px;
   display: flex;
   // justify-content: center;
   // align-items: center;
   font-weight: bold;
   padding: 7px 10px;
   font-size: 14px;
   gap: 5px;

   &.all {
      background-color: variables.$blue-gray-100;
   }

   svg {
      color: variables.$gray-200;
   }

   ul {
      list-style-type: none;
      display: flex;
      gap: 3px;

      li {
         position: relative;
         display: flex;
         align-items: center;
         div {
            position: absolute;
            height: 100%;
            width: 125%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
         }
      }
   }
   & > p {
      margin-left: 0.4rem;
      &.score {
         background-color: variables.$blue-gray-100;
         padding: 0.5rem 0.6rem;
         border-radius: 4px;
      }
   }
}
