@use "variables.scss" as variables;

.create_account_page_wrapper {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: auto auto;
   gap: 1rem;
   max-width: 40rem;
   min-width: 30rem;
   align-self: center;
}
