@use "variables.scss" as variables;

.changePassword-wrapper {
   grid-column-start: 3;
   grid-column-end: 4;
   display: flex;
   gap: 1rem;
   flex-direction: column;
   width: 20rem;

   // box-shadow: variables.$shadow-inner;
   // padding: 1rem;
   // border-radius: 10px;
   & > div {
      display: flex;
      gap: inherit;
      flex-direction: column;
      // flex-grow: 1;
   }
   .save {
      align-self: flex-end;
   }
}
