@use "variables.scss" as variables;

div.validation-box-wrapper {
   padding-top: 45px;
   padding-bottom: 25px;

   display: flex;
   flex-direction: column;
   gap: 30px;

   div.section {
      display: flex;
      flex-direction: column;
      gap: 10px;

      div.validator {
         display: flex;
         align-items: center;
         gap: 15px;

         div.dot {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: variables.$gray-200;
         }

         &.valid {
            div.dot {
               background-color: variables.$green-300;
            }
            p.label {
               color: variables.$green-300;
            }
         }

         &.invalid {
            div.dot {
               background-color: variables.$red-300;
            }
            p.label {
               color: variables.$red-300;
            }
         }
      }
   }
}
