@use "variables.scss" as variables;

.button_wrapper {
   position: relative;
   color: variables.$white;
   display: flex;
   align-items: center;
   border-radius: 7px;
   box-shadow: variables.$shadow-elevated;
   user-select: none;
   background-color: variables.$purple-100;
   width: fit-content;
   overflow: hidden;

   button {
      border: none;
      background-color: transparent;
      font-size: 1rem;
      padding: 0.66rem;
      text-transform: uppercase;
      cursor: pointer;

      span {
         color: variables.$white;
      }

      p {
         font-family: "Open Sans", sans-serif;
         color: variables.$white;
         font-weight: 600;
         padding: 0 0.66rem;
      }
   }

   .loading_wrapper {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 7px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: inherit;

      & > div {
         position: absolute;
         top: 50%;
         transform: translateY(-50%);
         width: 35px;

         & > div {
            display: flex;
            align-items: center;
         }
      }
   }

   &:not(:disabled):not(.loading):active {
      transform: translateY(4px);
      box-shadow: none;
   }

   &:disabled {
      cursor: not-allowed;
      background-color: variables.$blue-gray-300;
   }
}
