@use "variables.scss" as variables;

.button_wrapper {
   background-color: variables.$purple-100;
   color: variables.$white;
   display: flex;
   align-items: center;
   padding: 0.66rem;
   outline: none;
   border: none;
   border-radius: 7px;
   box-shadow: variables.$shadow-elevated;
   text-transform: uppercase;
   user-select: none;
   cursor: pointer;

   span {
      color: variables.$white;
   }

   p {
      color: variables.$white;
      font-weight: 600;
      padding: 0 0.66rem;
   }

   &:active {
      transform: translateY(4px);
      box-shadow: none;
   }
}
