@import "../../../variables.scss";

.button-wrapper {
   background-color: $purple-200;
   color: $white;
   display: flex;
   align-items: center;
   padding: 0.66rem;
   border-radius: $border-radius;
   box-shadow: $elevation-1;
   text-transform: uppercase;
   cursor: pointer;

   span {
      color: $white;
   }

   p {
      color: $white;
      padding: 0 0.66rem;
   }
}
