@import "variables.scss";

.button-wrapper {
   background-color: $purple-100;
   color: $white;
   display: flex;
   align-items: center;
   padding: 0.66rem;
   outline: none;
   border: none;
   border-radius: 7px;
   box-shadow: $shadow-elevated;
   text-transform: uppercase;
   cursor: pointer;

   span {
      color: $white;
   }

   p {
      color: $white;
      font-weight: 600;
      padding: 0 0.66rem;
   }
}
