.account-list-page-wrapper {
   .table-card {
      padding: 1rem;
      .actions {
         display: flex;
         align-items: center;
         justify-content: center;
         gap: 0.5rem;
         .edit > svg {
            font-size: 20px;
         }
         .info > svg {
            font-size: 18px;
         }
      }
   }
}
