.account-list-page-wrapper {
   .table-card {
      padding: 1rem;
      .edit-button {
         display: flex;
         align-items: center;
         justify-content: center;
         svg {
            font-size: 20px;
         }
      }
   }
}
