@use "variables.scss" as variables;

div.text_input_wrapper {
   p {
      margin-bottom: 5px;
      color: variables.$gray-300;

      &.required {
         &::after {
            content: "*";
            color: variables.$red-200;
            margin-left: 2px;
         }
      }
   }

   div {
      display: flex;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: variables.$shadow-elevated;
      height: 43px;

      span,
      input {
         padding: 0.5rem;
         font-size: variables.$scale-1;
      }

      span {
         background-color: variables.$blue-gray-200;
      }

      input {
         background-color: variables.$blue-gray-100;
         font-weight: 500;
         border-radius: 10px;
         border: none;
         padding-left: 1rem;
         color: variables.$gray-300;
         flex-grow: 1;
         outline-color: variables.$blue-gray-300;
      }
   }
}
