@use "variables.scss" as variables;

.register_page_wrapper {
   display: flex;
   flex-grow: 1;
   align-items: center;
   justify-content: center;

   div.form_wrapper {
      display: flex;
      align-items: flex-start;
      gap: 15px;

      div.validation_card {
         width: 500px;
      }

      div.register_card {
         display: flex;
         flex-grow: 1;
         padding: 0;
         gap: 1.5rem;
         overflow: hidden;

         .aside {
            background-color: variables.$purple-100;
            min-width: 18rem;
            padding: 3rem 2rem;
            // padding-top: 14rem;
            gap: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            // justify-content: flex-end;
            text-align: center;
            align-items: center;

            img {
               fill: variables.$white;
               filter: invert(1);
               width: 100px;
            }

            & > div {
               display: flex;
               flex-direction: column;
               gap: 10px;

               * {
                  color: variables.$white;
               }
            }

            .button_wrapper {
               background-color: variables.$white;

               p {
                  color: variables.$purple-100;
               }
            }
         }

         form {
            padding: 20px;
            padding-top: 45px;
            padding-bottom: 25px;
            display: flex;
            flex-direction: column;
            gap: 2rem;

            div.inputs_wrapper {
               display: flex;
               gap: 1rem;

               div.column {
                  display: flex;
                  flex-grow: 1;
                  flex-direction: column;
                  gap: 1.5rem;

                  div.text_input_wrapper {
                     width: 350px;
                  }
               }
            }

            div.checkboxes_wrapper {
               display: flex;
               flex-direction: column;
               gap: 10px;
            }

            div.footer {
               display: flex;
               align-items: center;
               justify-content: flex-end;
               gap: 2rem;
               padding: 1rem 0;

               a {
                  color: variables.$blue-400;
                  font-weight: bold;
               }
            }
         }
      }
   }
}
