@use "variables.scss" as variables;

div.modal_wrapper {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   display: flex;
   padding: 2rem;
   justify-content: center;
   z-index: 500;

   .backdrop {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-color: variables.$gray-300-transparent;
      z-index: -1;
   }

   .content {
      display: flex;
      position: absolute;
      flex-direction: column;
      margin: 0 6rem;
      gap: 0.5rem;
      align-self: flex-start;

      .card_wrapper {
         padding: 1.5rem;
         display: flex;
         flex-direction: column;
         gap: 1.3rem;
         box-shadow: variables.$shadow-strong;

         .modal_header {
            p {
               color: variables.$gray-300;
            }
         }

         .modal_footer {
            display: flex;
            justify-content: flex-end;
            gap: 10px;

            .cancel {
               background-color: variables.$blue-300;
            }
         }
      }

      .notification {
         box-shadow: variables.$shadow-strong;
      }
   }
}
